# Ignoriraj vse .log datoteke
*.log

# Ignoriraj vse datoteke z razširitvijo .tmp
*.tmp

# Ignoriraj vse datoteke, ki jih ustvarijo IDE-ji
.vscode/
.idea/s

# Ignoriraj __pycache__ mapo
__pycache__/

# Ignoriraj slike
*.nii.gz
*.csv

# Ignoriraj datoteke v formatu .txt in .npy (če so to datoteke, ki se ustvarijo med učenjem)
*.txt
*.npy

# Ignoriraj mapo Model in Log
Model/*
!Source/Model/*.pth
Log/
Figure/
